extends public/base.pug

block head
  script project_id=#{meta.id}; project_path='/uploads';
  script(src='/vendor/zepto.smoothscroll.js')

block top
  rg-drawer

block content
  .o-page-header.o-container.o-container--large
    .c-link.c-link--brand
      a.logo(href='/') SmartUse

  .story
    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell.page-meta
        if organisation
          .authorImage
            a(href=organisation.url,target="_blank")
              img(src=organisation.logo,title=organisation.name)
        h1
          =meta.title
        p.date
          span Updated:&nbsp;
          =updated
        if meta.summary
          p.description
            =meta.summary
        if organisation
          p.authorText
            a(href=organisation.url,target="_blank")
              .organisation
                =organisation.name
      .o-grid__cell--width-20

    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell
        .page-content
          !=content
      .o-grid__cell--width-20

    .resource-content

    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell
        .resource-summary
          .h2 Resources
          p The following data sources were used in this project:
          each resource in resources
            .c-card
              .c-card__header
                h5.c-heading
                  =resource.title
              .c-card__body
                if resource.notes
                  .c-paragraph.resource-notes
                    =resource.notes
                .c-input-group
                  a(href='{{ resource.path }}' download).c-button.c-button--block.c-button--info
                    span Download

        .c-card.embedding
          .c-card
            .c-card__header
              .c-input-group(style='float:right')
                a(href='#').c-button.c-button--success
                  span Share
              img.project-thumb(src='{{ project.thumb() }}',align='left')
              h2.c-heading
                =project.title
              each user in project.users
                span= user.organisation
            if project.summary
              .c-card__body
                .c-paragraph
                  =project.summary
      .o-grid__cell--width-20

    hr

    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell
        .o-grid
          each author in authors
            .o-grid__cell--width-15.authorImage
              img(src=author.gravatar)
            .o-grid__cell--width-20.authorText
              p
                a.fullname(href=author.url,target="_blank")
                  =author.fullname
              if author.organisation
                p
                  a(href=author.organisation.url)
                    .organisation
                      =author.organisation.name
              if author.biography
                p.biography
                  =author.biography
            .o-grid__cell--width-5
      .o-grid__cell--width-20
