extends public/base.pug

block head
  script project_id=#{meta.id}; project_path='/uploads';
  script(src='/vendor/zepto.smoothscroll.js')

block top
  rg-drawer

block content
  .fullscreen-button
  .gallery.fixed

  .gallery-nav.fixed
    .o-page-header.o-container.o-container--large
      .c-link.c-link--brand
        a.logo(href='/') SmartUse
    if author
      if author.organisation
        .c-link-author
          a(href=author.organisation.url)
            img(src=author.organisation.logo,title=author.organisation.name)
    .o-grid.gallery-page
      .o-grid__cell--width-15
      .o-grid__cell
        rg-pagination
      .o-grid__cell--width-15

  .story.fixed
    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell
        p.date
          =meta.updated
        p.description
          =meta.summary
        h3
          =meta.title
        if author
          .o-grid
            .o-grid__cell--width-7.authorImage
              img(src=author.gravatar)
            .o-grid__cell.authorText
              a.fullname(href=author.url,target="_blank")
                =author.fullname
              if author.organisation
                .organisation
                  =author.organisation.name
      .o-grid__cell--width-20

    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell
        .page-content
          !=content
        .resource-content

        p.page-footer
          span &nbsp; &copy; 2018 &nbsp;
          a(href='https://www.metropolitanraum-zuerich.ch/home.html') Metropolitanraum Zürich
          span &nbsp; | &nbsp;
          a(href='/') Home
          span &nbsp; | &nbsp;
          a(href='#top') Go to top

      .o-grid__cell--width-20

block footer
  //- blank
