extends public/base.pug

block scripts
  script project_id=#{meta.id}; project_path='/uploads';
  script(src='/vendor/zepto.smoothscroll.js')
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js')
  link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css',rel='stylesheet')
  script(src='/scripts/main.js')

block content
  .container(style="margin:100px")

  .container-fluid.no-padding.story
    .container
      .row
        .col-md-12.center.page-meta
          if organisation
            .authorImage
              a(href=organisation.url,target="_blank")
                img(src=organisation.logo,title=organisation.name)
          h1
            =meta.title
          p.date
            span Updated:&nbsp;
            =updated
          if meta.summary
            p.description
              =meta.summary
          if organisation
            p.authorText
              a(href=organisation.url,target="_blank")
                .organisation
                  =organisation.name

      .row
        .col-md-12
          .page-content
            !=content

      .row
        .col-md-12
          .resource-content

      .row.project-authors
        .col-md-12
          .h2 Authors
        each author in authors
          .col-md-2
            .authorImage
              img(src=author.gravatar)
            .authorText
              p
                a.fullname(href=author.url,target="_blank")
                  =author.fullname
              if author.organisation
                p
                  a(href=author.organisation.url)
                    .organisation
                      =author.organisation.name
              if author.biography
                p.biography
                  =author.biography


      .row
        .col-md-12.resource-summary
          .h2 Data sources
          .list-group
            each resource in resources
              .list-group-item.list-group-item-action.flex-column.align-items-start.active
                .d-flex.w-100.justify-content-between
                  h5.mb-1
                    =resource.title
                  button.btn.btn-primary.btn-sm(type="button" href='{{ resource.path }}' download) Download
                  small
                    =resource.mediatype
                if resource.notes
                  p.mb-1
                    =resource.notes

      hr
      .row
        .col-md-3
        .col-md-6
          .card.border-secondary.mb-3.embedding
            .card-header
              button.btn.btn-primary.btn-sm(type="button" href='#') Share
            |
            .card-body(style="background:white")
              h4.card-title
                =project.title
              |
              img.project-thumb(src='{{ project.thumb() }}',align='left')
              each user in project.users
                b
                  =user.organisation
              p.card-text
                =project.summary
