extends public/base.pug

block scripts
  script project_id=#{meta.id}; project_path='/uploads';
  script(src='/vendor/zepto.smoothscroll.js')
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js')
  link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css',rel='stylesheet')
  script(src='/scripts/main.js')

block content
  .container(style="margin:100px")

  .container-fluid.no-padding.story
    .container
      .row
        .col-md-12.center.page-meta
          if organisation
            .authorImage
              a(href=organisation.url,target="_blank")
                img(src=organisation.logo,title=organisation.name)
          h1
            =meta.title
          p.date
            span Updated:&nbsp;
            =updated
          if meta.summary
            p.description
              =meta.summary
          if organisation
            p.authorText
              a(href=organisation.url,target="_blank")
                .organisation
                  =organisation.name

      .row
        .col-md-12
          .page-content
            !=content

      .row
        .col-md-12
          .resource-content

      hr
      .row
        .col-md-12
          .resource-summary
            .h2 Resources
            p The following data sources were used in this project:
            each resource in resources
              .c-card
                .c-card__header
                  h5.c-heading
                    =resource.title
                .c-card__body
                  if resource.notes
                    .c-paragraph.resource-notes
                      =resource.notes
                  .c-input-group
                    a(href='{{ resource.path }}' download).c-button.c-button--block.c-button--info
                      span Download

        .c-card.embedding
          .c-card
            .c-card__header
              .c-input-group(style='float:right')
                a(href='#').c-button.c-button--success
                  span Share
              img.project-thumb(src='{{ project.thumb() }}',align='left')
              h2.c-heading
                =project.title
              each user in project.users
                span= user.organisation
            if project.summary
              .c-card__body
                .c-paragraph
                  =project.summary

      hr

      .row
        .col-md-12
          each author in authors
            .authorImage
              img(src=author.gravatar)
            .authorText
              p
                a.fullname(href=author.url,target="_blank")
                  =author.fullname
              if author.organisation
                p
                  a(href=author.organisation.url)
                    .organisation
                      =author.organisation.name
              if author.biography
                p.biography
                  =author.biography
