extends public/base.pug

block head
  script project_id=#{meta.id}; project_path='/uploads';
  script(src='/vendor/zepto.smoothscroll.js')

block top
  rg-drawer

block content
  .o-page-header.o-container.o-container--large
    .c-link.c-link--brand
      a.logo(href='/') SmartUse

  .story
    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell.page-meta
        .authorImage
          if author.organisation
            a(href=author.organisation.url,target="_blank")
              img(src=author.organisation.logo,title=author.organisation.name)
          else
            img(src=author.gravatar)
        h1
          =meta.title
        p.date
          span Updated:&nbsp;
          =updated
        if meta.summary
          p.description
            =meta.summary
        p.authorText
          if author.organisation
            a(href=author.organisation.url,target="_blank")
              .organisation
                =author.organisation.name
          .fullname
            =author.fullname
      .o-grid__cell--width-20

    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell
        .page-content
          !=content
      .o-grid__cell--width-20

    .resource-content

    if author.organisation
      .o-grid
        .o-grid__cell--width-20
        .o-grid__cell--width-7.authorImage
          img(src=author.gravatar)
        .o-grid__cell.authorText
          p
            a.fullname(href=author.url,target="_blank")
              =author.fullname
          p
            a(href=author.organisation.url)
              .organisation
                =author.organisation.name
        .o-grid__cell--width-20

    .o-grid
      .o-grid__cell--width-20
      .o-grid__cell
        p.page-footer
          span &nbsp; &copy; 2018 &nbsp;
          a(href='https://www.metropolitanraum-zuerich.ch/home.html') Metropolitanraum Zürich
          span &nbsp; | &nbsp;
          a(href='/') Home
          span &nbsp; | &nbsp;
          a(href='#top') Go to top
      .o-grid__cell--width-20

block footer
  //- blank
