extends public/base.pug

block scripts
  script PROJECT_ID=#{meta.id}; PROJECT_ROOT='/uploads';
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js')
  link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css',rel='stylesheet')
  script(src='https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js')
  script(src='/scripts/project.js')

block top
  .container(style="margin:100px")

block content
  .container-fluid.no-padding.story
    .container
      .row
        .col-md-12.page-meta
          //
            if organisation
              .organisation-image
                a(href=organisation.url)
                  img(src=organisation.logo title=organisation.name)
          h1
            =meta.title
          if meta.summary
            p.description
              =meta.summary

      .row
        .col-md-8
          .page-content
            !=content

        .col-md-4.side-info
          if category
            .project-category
              // span Category:&nbsp;
              b
                // i(class=category.class) &nbsp;
                =category.text
          .timestamp
            .created
              span Publiziert:&nbsp;
              =created
            .updated
              span Aktualisiert:&nbsp;
              =updated
            //
              .version
                span Version:&nbsp;
                =version

          if project.organisation
            p.project-organisation
              a(href=organisation.url target="_blank")
                .organisation-name
                  =organisation.name

          if project.license
            a.license(href=project.license.path target="_blank")
              =project.license.title

      .row
        .col-md-12
          .rendering-content

      #renderingsummary.row
        .col-md-12
          .h2 Quellen
          .list-group.rendering-summary
            //
              each rendering in renderings
                .list-group-item.list-group-item-action.flex-column.align-items-start
                  .d-flex.w-100.justify-content-between
                    h5.mb-1
                      =rendering.title
                    .download-buttons.btn-group(role="group")
                      a.btn.btn-primary.btn-sm(type="button" href='{{ rendering.path }}' download)
                        &#128459;
                        | &nbsp; Herunterladen
                      a.btn.btn-primary.btn-sm(type="button" href='{{ project.path }}')
                        &#9881;
                        | &nbsp;
                        =rendering.mediatype

      .row
        .col-md-12.author-card.padding-top
          .card.mb-12
            .card-header
              .action-call
                a(href='/contact')
                  h3.title Zu meinem Gemeindescan&nbsp;&#9654;
                p.summary Fragen Sie unsere Experten für eine unverbindliche Beratung.

              if authors
                .project-authors
                  each author in authors
                    .author
                      img(src=author.gravatar)
                      p
                        a.fullname(href=author.url)
                          =author.fullname
                      if author.organisation
                        p
                          a(href=author.organisation.url)
                            .organisation
                              =author.organisation.name
                      if author.biography
                        p.biography
                          =author.biography


  #share.modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Share
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Teilen Sie die Geschichte mit Ihrem Netzwerk:
          .share-buttons
            a.btn.btn-primary.btn-sm(type="button" target='_blank' href='https://twitter.com/intent/tweet?text={{ project.title }}&hashtags=smartuse&url={{ project.url }}')
              i.fab.fa-twitter
              | Twitter
            a.btn.btn-primary.btn-sm(type="button" target='_blank' href='https://www.facebook.com/sharer.php?u={{ project.url }}')
              i.fab.fa-facebook
              | Facebook
            a.btn.btn-primary.btn-sm(type="button" href='mailto:?subject=SmartUse+Share&body=Check out this link: {{ project.url }}')
              i.far.fa-envelope-open
              | Email
          p Code für die Einbettung dieses Projekts an anderer Stelle, wie in einem Blog, gibt es hier:
          .share-buttons
            button.btn.btn-primary.btn-sm(type="button" href='#' id='embed-project')
              i.far.fa-file-alt
              | Embed
          .card.border-secondary.mb-3.embedding
            .card-body
              a(href='{{ project.url }}')
                h4.card-title
                  =project.title
                |
                img.project-thumb(src='{{ project.thumb() }}' align='left')
                each user in project.users
                  b
                    =user.organisation
                p.card-text
                  =project.summary
        // .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') OK
